.about-me{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cube-box-area{
    width: 100px;
    height: 100px;
    position:fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}