.header{
    box-shadow: 0 0.1px 0.1px #00000004, 0 0.1px 0.3px #00000006, 0 0.3px 0.5px #00000008, 0 0.4px 0.9px #0000000a, 0 0.8px 1.7px #0000000c, 0 2px 4px #00000012;
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 20px 20px;
    width: 100%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.header-left{
    background-color: #fff;
}
.text-magic {
    position:relative;
    font-size: 36px;
    font-family: Raleway, Verdana, Arial;
    color: #fff;
}
.white {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    z-index: 4;
    animation: whiteMove 3s ease-out infinite;
}

.text-magic::before {
    content: attr(data-word);
    position: absolute;
    top: 0;
    left: 0.5px;
    height: 0px;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    z-index: 2;
    animation: redShadow 2s ease-in infinite;
    filter: contrast(200%);
    text-shadow: 1px 0 0 red;
}

.text-magic::after {
    content: attr(data-word);
    position: absolute;
    top: 0;
    left: -3px;
    height: 36px;
    color: rgb(22 21 21 / 80%);
    overflow: hidden;
    z-index: 3;
    animation: redHeight 2s ease-out infinite;
    filter: contrast(200%);
    text-shadow: -1px 0 0 cyan;
    mix-blend-mode: darken;
}

@keyframes redShadow {
    20% {
        height: 32px;
    }
    60% {
        height: 6px;
    }
    100% {
        height: 42px;
    }
}

@keyframes redHeight {
    20% {
        height: 42px;
    }
    35% {
        height: 12px;
    }
    50% {
        height: 40px;
    }
    60% {
        height: 20px;
    }
    70% {
        height: 34px;
    }
    80% {
        height: 22px;
    }
    100% {
        height: 0px;
    }
}

@keyframes whiteMove {
    8% {
        top: 38px;
    }
    14% {
        top: 8px;
    }
    20% {
        top: 42px;
    }
    32% {
        top: 2px;
    }
    99% {
        top: 30px;
    }
}
.header-right{
    display: flex;
}